.page-title {
    margin: 2em, 0em, 1.5em, 0em;
}

.image {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 12%;
}

.each-song, .each-artist {
    margin: 1em;
    padding: 1em;
    border-radius: 12%;
    text-align: center;
}

.each-song {
    border: 1px solid grey;
}

.link:link, .link:visited {
    margin: 1em;
    padding: 0.75em, 0.75em;
    text-decoration: none;
}

.link:hover, .link:active {
    background-color: silver;
    border-radius: 12%;
    text-decoration: none;
}

/* head.masthead inspired by CodePen Pen by Henry Schmeding at https://codepen.io/htschmed/pen/RMEEzM */
header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("https://musiccentralstorage.s3-us-west-2.amazonaws.com/concert_crowd.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.link-button, .link-button:visited {
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 0.5em 0.5em;
    cursor: pointer;

}

.link-button:hover, .link-button:active {
    background-color: blue;
    color: white;
    text-decoration: none;
}