<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artists</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>
    <div class="container">
        <div class="row">

            <!-- Display Artists -->
            <div class="col-8">
                <h2 class="page-title">Favorite Artists</h2>
                <div class="row">
                    <div class="each-artist" th:each="artist : ${artistsList}">
                        <!-- show artist and update artist-->
                        <form method="POST" action="/artist/edit">

                            <!-- artist name to show or update -->
                            <h3 class="text-to-hide" th:text="${artist.artistName}"></h3>
                            <div class="form-group">
                                <label class="form-to-show" hidden for="change-artist-name">Update Name</label>
                                <input type="text"
                                       hidden
                                       class="form-to-show form-control"
                                       name="newArtistName" th:value="${artist.artistName}"
                                       id="change-artist-name">
                            </div>

                            <!-- artist image -->
                            <a class="text-to-hide" th:href="${'/artists/' + artist.id}">
                                <img th:src="${artist.artistImageURL}" class="image"></a>
                            <div class="form-group">
                                <label class="form-to-show" hidden for="change-picture">New Link to Image</label>
                                <input type="text"
                                       hidden
                                       class="form-to-show form-control"
                                       name="newImgArtistURL" th:value="${artist.artistImageURL}"
                                       id="change-picture">
                            </div>
                            <!-- info to send over to controller via model -->
                            <input type="hidden" th:value="${artist.id}" name="artistId">
                            <!-- save changes button -->
                            <input class="form-to-show" type="submit" hidden value="Save Changes">
                        </form>
                        <p class="link text-to-hide"><a th:href="${'/artists/' + artist.id}">Songs</a></p>

                        <!-- edit and delete buttons -->
                        <div class="row justify-content-md-center">
                            <!-- edit artist -->
                            <button class="edit-button text-to-hide">Edit</button>
                            <!-- delete the artist (and associated songs) -->
                            <form method="POST" class="delete-artist text-to-hide" action="/artist/delete">
                                <input type="hidden" th:value="${artist.id}" name="artistId">
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add Artist -->
            <div class="col">
                <h2 class="page-title">Add an Artist</h2>
                <form action="/artists" method="POST">
                    <div class="form-group">
                        <label for="input-artist-title">Name of Artist</label>
                        <input type="text" class="form-control" placeholder="Enter Artist Name" name="artistName" id="input-artist-title">
                    </div>
                    <div class="form-group">
                        <label for="input-image-url">Link to Artist Image</label>
                        <input type="text" class="form-control" placeholder="Add a url ending in .jpeg or .png" name="artistImageURL" id="input-image-url">
                    </div>
                    <input type="submit" value="Add Artist">
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>