<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicCentral</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>
    <!-- if person logged in -->
    <div class="container" th:if="${username}">
        <!-- something goes here, such as tips and tricks to utilize the app -->

    </div>
    <!-- if person not logged in or new to the app -->
    <!-- Inspiration for bootstrap from Pen by Henry Schmeding on CodePen - https://codepen.io/htschmed/pen/RMEEzM -->
    <header class="masthead text-black text-center" th:unless="${username}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Welcome to MusicCentral</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <div class="row justify-content-md-center">
                        <div class="col-2 link-button">
                            <a href="/signup">Signup</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 3 circle images section -->
    <section class="features text-center bg-light" th:unless="${username}">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-item mx-auto mb-5 mb-lg-0">
                        <h5>Remember Your Favorites</h5>
                        <img class="img-fluid rounded-circle mb-3" src="https://musiccentralstorage.s3-us-west-2.amazonaws.com/rockband.jpg" alt="rock band performing on stage">
                        <p class="font-weight-light mb-0">Never forget that favorite artist or song again</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-item mx-auto mb-5 mb-lg-0">
                        <h5>Play Your Music</h5>
                        <img class="img-fluid rounded-circle mb-3" src="https://musiccentralstorage.s3-us-west-2.amazonaws.com/classicalmusic.jpg" alt="picture of a cellist performing">
                        <p class="font-weight-light mb-0">Customize your own link over to your music hosting sites, like YouTube!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-item mx-auto mb-5 mb-lg-0">
                        <h5>MusicCentral is Your Creation</h5>
                        <img class="img-fluid rounded-circle mb-3" src="https://musiccentralstorage.s3-us-west-2.amazonaws.com/drumming.jpg" alt="drummers in a row">
                        <p class="font-weight-light mb-0">Fill up this site with your favorite images of your artists and music</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>